<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8854.1" targetFramework="net462" />
  <package id="Microsoft.SqlServer.Scripting" version="11.0.2100.61" targetFramework="net462" />
  <package id="Microsoft.SqlServer.SmoExtended.dll" version="1.0.1" targetFramework="net462" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net462" />
  <package id="Unofficial.Microsoft.SQLServer.SMO.2014" version="12.0.2000.8" targetFramework="net462" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net462" />
</packages>